<section>
  <aside></aside>
  <article>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div style="text-align: center;"><h1>Qu'est ce que Nature Guide ?</h1>
      <p>Nature Guide est un site web qui va permettre aux utilisateurs de</p>
      <p>découvrir plusieurs espaces verts de France. Et surtout consulter</p>
      <p>plusieurs paramètres comme par exemple la météo, la pollution</p>
      <p>d’une ville, et pour chaque espace vert une page à propos qui va</p>
      <p>permettre d’avoir l’emplacement et l’itinéraire, les horaires</p>
      <p>d’ouverture et de fermeture, des photos etc.</p>
      <br>
    </div>
  </article>
</section>
<section>
  <article>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div style="text-align: center;"><h1>Quelles sont nos objectifs ?</h1>

      <p>Nos Objectifs seront de faciliter à ceux qui le souhaitent l’accès</p>
      <p>aux espaces vert de plusieurs ville de France. Cela permettra aux usager</p>
      <p>de réaliser des économies de temps tout en ayant de précieuse informations </p>
      <p>(tel que la température ou le taux de pollution) sur le lieu de destination. </p>
      <br>

    </div>

  </article>
  <aside></aside>
</section>

